body {
    background-color: #E0E0E2;
    font-family: 'Markazi Text',serif;
    margin: 3rem 5% 3rem 5%;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
header >img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav{
    margin-top: 1rem;
    background-color: #333333;
    border-radius: 2rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;

}
nav li {
    flex-direction: row;
}
nav li a{
    text-decoration: none;
    font-size: 2rem;
    color: #E0E0E2;
    margin-right: 1rem;
    font-weight: lighter;

}

section {
    display: flex;
}
article {
    flex: 1;
    background-color:#f4e5d6;
    border-radius: 2rem;
}

footer {
    display: flex;
}
footer div {
    flex: 1;
}